@import url('https://fonts.cdnfonts.com/css/agencyfb?styles=17263');

* {
    margin: 0;
    font-family: "agency", sans-serif;
}

header {
    background: linear-gradient(180deg, #279EFF 0%, #40F8FF 100%);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
}

img {
    width: 20%;
}

.nav-list {
    text-decoration: none;
    margin: 0 20px;
    color: white;
    font-size: 20px;
}

.btn-sign-in {
    text-decoration: none;
    color: white;
    background-color: #279EFF;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 12px;
}

.btn-sign-in:hover {
    color: black;
    background: #40F8FF;
    border-style: solid;
    border-radius: 3px;
    border-color: #D5FFD0;
    border-radius: 12px;
    box-shadow: 10px;
}

.btn-sign-up {
    text-decoration: none;
    color: white;
    background-color: #279EFF;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 12px;
}

.btn-sign-up:hover {
    color: black;
    background: #40F8FF;
    border-style: solid;
    border-radius: 3px;
    border-color: #D5FFD0;
    border-radius: 12px;
    box-shadow: 10px;
}

.hero {
    background-image: url('/./img/Rectangle\ 9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 500px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 100px;
}

h1 {
    font-size: 80px;
    margin-bottom: 20px;
}

.detail-1 {
    display: flex;
    width: auto;
    justify-content: center;
    margin-top: 100px;
    padding: 0 20px 0 20px;
    gap: 30px;
}

#content-img {
    display: flex;
    gap: 20px;
}

.content-detail {
    display: flex;
    gap: 20px;
}

.content-detail>img {
    width: 20px;
    height: 20px;
}

.content-detail>p {
    width: 200px;
    line-height: 24px;
    color: black;
    font-size: 13px;
}

.developer {
    margin-bottom: 50px;
}

.developer h2 {
    margin-bottom: 120px;
}

.tengah {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-team {
    flex-direction: row;
    gap: 30px;
}

.card-tengah {
    padding: 20px;
    gap: 30px;
    border-radius: 20px;
}

.card-small img {
    width: 200px;
}

